In [6]:
testglobal=10
def testadd():
    y=10
    print("Local : ",y)
    print("Global : ",testglobal)

In [7]:
testadd()

Local :  10
Global :  10

### Function arguments

### Positional arguments

In [8]:
def add_numbers(x,y):
    z=x+y
    print("Sum : ",z)

In [10]:
add_numbers(7,8)

Sum :  15

### Default arguments

In [13]:
def add_numbers1(x=10,y=20):
    z=x+y
    print("Sum : ",z)

In [14]:
add_numbers1()

Sum :  30

In [15]:
add_numbers1(5,10)

Sum :  15

### Keyword arguments

In [16]:
def display_info(first_name,last_name):
    print("First name : ",first_name)
    print("Last name : ",last_name)

In [17]:
display_info(first_name="shivam",last_name="singh")

First name :  shivam
Last name :  singh

In [18]:
display_info(last_name="singh",first_name="shivam")

First name :  shivam
Last name :  singh

### variable arguments

In [19]:
#*args and **kargs

In [24]:
def find_sum(*numbers):
    sum=0
    for num in numbers:
        sum=sum+num
    print("sum = ",sum)

In [25]:
find_sum()

sum =  0

In [27]:
find_sum(1,2,3,4,5,6,7,8,9)

sum =  45

In [34]:
def info(**data):
    print("data type : ",type(data))
    
    for key,value in data.items() :
        print(key,value)

In [35]:
info(firstname="Shivam",lastname="singh")

data type :  <class 'dict'>
firstname Shivam
lastname singh

In [36]:
def simple(**x):
    print(x)

In [38]:
simple(name="shivam",age="20",id_no="1200065546")

{'name': 'shivam', 'age': '20', 'id_no': '1200065546'}

### Lambda Functions

In [39]:
x=lambda:print("Hello world")

In [40]:
x()

Hello world

In [41]:
add_numbe=lambda a,b : a+b

In [42]:
add_numbe(5,6)

11

In [43]:
a=int(input("Enter 1st number : "))
b=int(input("Enter 2nd number : "))
square=lambda a,b : (a**2,b**2)
print(square(a,b))

Enter 1st number : 5
Enter 2nd number : 6
(25, 36)

In [44]:
#even odd
num1=lambda n : "Even" if n%2==0 else "Odd"

In [45]:
num1(2)

'Even'

In [46]:
num1(3)

'Odd'

In [62]:
#greater 
greater=lambda a,b : a if a>b else b

In [64]:
greater(5,3)

5

In [80]:
products = [
    {'name':'product1','price':80},
    {'name':'product2','price':10},
    {'name':'product3','price':50},
    {'name':'product4','price':70}
]
sorted_products = sorted(products, key=lambda x:x['price'])

In [81]:
for i in sorted_products:
    print(i)

{'name': 'product2', 'price': 10}
{'name': 'product3', 'price': 50}
{'name': 'product4', 'price': 70}
{'name': 'product1', 'price': 80}

In [82]:
products = [
    {'name':'product1','price':80},
    {'name':'product2','price':10},
    {'name':'product3','price':50},
    {'name':'product4','price':70}
]
sorted_products = sorted(products, key=lambda x:x['price'],reverse=True)

In [83]:
for i in sorted_products:
    print(i)

{'name': 'product1', 'price': 80}
{'name': 'product4', 'price': 70}
{'name': 'product3', 'price': 50}
{'name': 'product2', 'price': 10}

### list comprihention [output collection condition]

In [86]:
lst=[1,2,3,4,5,6,7,8,9,10]
a=[x for x in lst]

In [87]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [88]:
lst=[1,2,3,4,5,6,7,8,9,10]
a=[x+1 for x in lst]

In [89]:
a

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [90]:
lst=[1,2,3,4,5,6,7,8,9,10]
a=[x for x in lst if x%2==0]

In [91]:
a

[2, 4, 6, 8, 10]

In [92]:
lst=[1,2,3,4,5,6,7,8,9,10]
a=[x for x in lst if x%2==0 if x>4]

In [93]:
a

[6, 8, 10]