# Oops

In [2]:
class bankaccount:
    
    def openaccount(self,name,email):
        print("open account by taking email")
        return name+email
    
    def deposite(self,amount):
        print("trying to deposite an amount in my account")
        
    def withdrawl(self,amt_wit):
        print("trying to withdrawl an amount")
    
    def update_details(self,name_up,email_up):
        print("this will update the details")

In [3]:
shiv = bankaccount()

In [4]:
shiv.deposite(500)

trying to deposite an amount in my account

In [5]:
shiv.openaccount("shivam","shivam@gmail.com")

open account by taking email

'shivamshivam@gmail.com'

In [6]:
shiv.withdrawl(5000)

trying to withdrawl an amount

In [9]:
class list_ops:
    
    l1=[2,4,1,5,1,2,3,4,5,6]
    
    def exractfromindex(self,l,index):
        return l[index]
    
    def exractrangedata(self,l,start,end):
        return l[start:end]
    
    def exracteven(self,l):
        l1=[]
        for i in l:
            if i%2==0:
                l1.append(i)
        return l1

In [10]:
first_obj = list_ops()

In [11]:
first_obj.exractfromindex([2,4,1,5,7,2,3],2)

1

In [12]:
first_obj.exracteven(first_obj.l1)

[2, 4, 2, 4, 6]

In [13]:
first_obj.exractrangedata([2,5,1,3,6,4,7,2],2,5)

[1, 3, 6]

In [19]:
class list_ops2:
    
    l2=[2,4,1,5,1,2,3,4,5,6]
    
    def __init__(self,l):
            self.l3=l
    
    def exractfromindex(self,l,index):
        return l[index]
    
    def exractrangedata(self,l,start,end):
        return l[start:end]
    
    def exracteven(self,l):
        l1=[]
        for i in l:
            if i%2==0:
                l1.append(i)
        return l1

In [20]:
second_obj=list_ops2([1,2,3,4,5,6,7,8,9])

In [21]:
second_obj.l3

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
third_obj=list_ops2([8,6,5,4,3,2,1])

In [23]:
third_obj.l3

[8, 6, 5, 4, 3, 2, 1]

In [30]:
class book:
    def __init__(self,name,title,page):
        self.name_of_book=name
        self.title_of_book=title
        self.page_no=page
        
    def exract_details(self):
        print(self.name_of_book,"\n",self.title_of_book)
        
    def print_page_no(self):
        print(self.page_no)

In [31]:
shivam=book("dsa","pratical dsa",99)
ronik=book("data science","emplemention of data science",77)

In [32]:
shivam.exract_details()

dsa
 pratical dsa

In [33]:
ronik.exract_details()

data science
 emplemention of data science

In [35]:
shivam.print_page_no()

99

### example

In [44]:
from functools import reduce
class calculator:
    def add(self,*args):
        return sum(args)
    
    def substract(self,*args):
        return reduce(lambda a,b:a-b,args)
    
    def multiplication(self,*args):
        return reduce(lambda a,b:a*b,args)
    
    def div(self,*args):
        return reduce(lambda a,b:a/b,args)

In [46]:
raj=calculator()

In [39]:
raj.add(1,2,3,4,5)

15

In [42]:
raj.div(16,4,2,1)

2.0

In [47]:
raj.multiplication(1,2,3,4,5)

120