### else if conditions

In [9]:
a=int(input("Enter your age : "))

Enter your age : 18

In [11]:
if a>=18:
    print("You can drive")
else :
    print("You cannot drive")

You can drive

In [17]:
time=int(input("Enter the time : "))
if time < 0:
    print("Invalid Input")
elif 0 <= time <= 5:
    print("Night")
elif 6 <= time <= 11:
    print("Morning")
elif 12 <= time <= 17:
    print("Afternoon")
elif 18 <= time <= 23:
    print("Evening")
else:
    print("Invalid Input")

Enter the time : 8
Morning

In [27]:
#find the largest no. from 3 given number

n1=int(input("Enter First no. : "))
n2=int(input("Enter Second no. : "))
n3=int(input("Enter Third no. : "))
if (n1>n2) and (n1>n3):
    largest=n1
elif (n2>n1) and (n2>n3):
    largest=n2
else:
    largest=n3
print("The greatest no. is :",largest)

Enter First no. : 55
Enter Second no. : 96
Enter Third no. : 88
The greatest no. is : 96

In [41]:
#simple calculator

operation=int(input("Press '1' for addition\nPress '2' for substraction\nPress '3' for multiplication\nPress '4' for division\n"))
if (operation<1) or (operation>4):
    print("Invalid Input")
else:
    n4=int(input("Enter First no. : "))
    n5=int(input("Enter Second no. : "))
    if operation == 1:
        print("Sum is :",n4+n5)
    elif operation == 2:
        print("Difference is :",n4-n5)
    elif operation == 3:
        print("Product is :",n4*n5)
    else:
        print("Quotient is :",n4/n5)

Press '1' for addition
Press '2' for substraction
Press '3' for multiplication
Press '4' for division
3
Enter First no. : 2
Enter Second no. : 3
Product is : 6

### range(start,stop,step)

In [42]:
range(5)

range(0, 5)

In [43]:
list(range(5))

[0, 1, 2, 3, 4]

In [44]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
list(range(2,10,2))

[2, 4, 6, 8]

### for loop

In [46]:
for i in range(5):
    print(i)

0
1
2
3
4

In [48]:
for i in "shivam":
    print(i)

s
h
i
v
a
m

In [50]:
dic={"name":"Shivam","city":"BIHAR"}

In [51]:
for i in dic.values():
    print(i)

Shivam
BIHAR

In [52]:
for key in dic:
    print(key,dic[key])

name Shivam
city BIHAR

In [53]:
print("hi")
print("shivam")
print("wow")

hi
shivam
wow

In [55]:
print("hi",end = ' ')
print("shivam",end = ' ')
print("wow")

hi shivam wow

In [57]:
for i in range(10):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [58]:
for i in range(5):
    print(i,end=' ')
else:
    print("done")

0 1 2 3 4 done

In [64]:
#star pattern

for i in range(5):
    for j in range(i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [67]:
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [79]:
for i in range(1,6):
    for j in range(1,6):
        print(i*j,end=" ")
    print()

1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25

### While Loop

In [81]:
count=0

while count <=5:
    print(count)
    count +=1

0
1
2
3
4
5

In [83]:
text=" "
while text !="quit":
    text=input("Enter 'quit' word to exit the loop : ")
    print("You enterd : ",text)

Enter 'quit' word to exit the loop : hello
You enterd :  hello
Enter 'quit' word to exit the loop : quit
You enterd :  quit